@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>

<address>
    Eyüpsultan / İstanbul<br />    
    +90 538 822 5577
</address>

<address>
    <a href="mailto:ensar.yaz@gmail.com">ensar.yaz@gmail.com</a><br />
</address>